{% extends 'base.html' %}

{% block title %}
  About
{% endblock %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}


{% block content %}

<div class="container">
  <h1>Tamil TTS</h1>
  <p>This Web Application is used to convert Tamil text into Speech</p>
  <blockquote>
    <p>Many of us , want to convert tamil texts into speech. If you are looking for one then this web application is for you . Just follow the steps below</p>
      <ul>
          <li> Signup with your email</li>
          <li> Login with your credentials</li>
          <li>Upload the File which contains tamil texts</li>
          <li>Once the conversion is done we will email you about that, then you can download converted file(.mp3)</li>
      </ul>
      <footer></footer>
  </blockquote>
    <div class="tamil-container">
                    <h4><b>தமிழ் உரை ஒலி மாற்றி</b></h4>

                    <h5><b>அறிமுகம்</b></h5>
            <p>
                இந்த மென்பொருள் உங்கள் தமிழ் உரைக்கோப்புகளை (text file) ஒலிக்கோப்புகளாக (MP3) மாற்ற உதவுகிறது. (TTS Text-To-Speech)
            </p>

            <h4><b>எப்படி மாற்றுவது?</b></h4>

                    <ol>
                        <li> இதில், நீங்கள் ஒரு கணக்கு உருவாக்கவும். <a href="http://tts.kaniyam.com/signup/" target="_blank">http://tts.kaniyam.com/signup/</a> </li>

            <li> உங்கள் மின்னஞ்சலுக்கு, புது கணக்கை உறுதி செய்ய, ஒரு இணைப்பு வரும். அதை சொடுக்கவும். </li>

            <li> புகுபதிகை செய்யவும். (Login)</li>

                        <li> <a href="http://tts.kaniyam.com/upload/" target="_blank">http://tts.kaniyam.com/upload/</a> பக்கத்துக்கு சென்று, ஒரு தமிழ் உரைகள் கொண்ட கோப்பை பதிவேற்றம் செய்யவும்.</li>

                        <li>இப்போது, பின்புலத்தில் உங்கள் உரைக்கோப்பு, ஒலிக்கோப்பாக  மாற்றம் செய்யப்படும். இதற்கு சற்று கால அவகாசம் ஆகும். சில நிமிடங்கள் முதல் சில மணி நேரங்கள் கூட ஆகலாம். இந்த காத்திருப்பு காலம், உங்கள் கோப்பின் அளவையும், மொத்தமாக அனைவரும் ஏற்றியுள்ள கோப்புகளின் எண்ணிக்கை, அவற்றின் வரிசைகளைப் பொறுத்து மாறும்.</li>

                        <li> MP3 ஆக மாற்றியபின், உங்கள் மின்னஞ்சலுக்கு பதிவிறக்கம் செய்வதற்கான இணைப்பு வந்து சேரும். உங்களுக்கான <a href="http://tts.kaniyam.com/" target="_blank">http://tts.kaniyam.com/</a> முகப்பு பக்கத்தில் காட்டப்படும் உங்கள் கோப்புகளின் பட்டியலிலும் பதிவிறக்க இணைப்பு இருக்கும்.</li>

            <li> இணைப்பை சொடுக்கி, நீங்கள் ஒலிக்கோப்பை பதிவிறக்கம் செய்து கொள்ளலாம்.</li>

            </ol>
            <h4> <b>அடிக்கடி கேட்கப்படும் வினாக்கள் </b></h4><br/>
            <p>
            <b>எந்த வகை கோப்புகளை பதிவேற்றலாம்?</b><br/>
            ஒருங்குறி (Unicode) எழுத்துருவில் உள்ள, txt வகைக் கோப்புகளை மட்டுமே ஏற்றலாம். அதிக பட்சம் 100 MB இருக்கலாம்.<br/>
            </p>
                    <p>
            <b>எனது தனிப்பட்ட கோப்புகளை ஏற்றலாமா?</b>
            அதி இரகசியம் காக்கப்பட வேண்டியவை எனில் வேண்டாம். எந்த இணைய வழி தளத்தையும் நம்பாதீர்.
            இது கட்டற்ற மென்பொருள்தானே. நீங்களே உங்கள் குனு/லினக்சு கணினியில் நிறுவி விடலாம்.

            மற்றபடி, பொதுவான கோப்புகளை ஏற்றலாம்.
            உங்கள் உரைக்கோப்புகளையும், ஒலிக்கோப்புகளையும் உங்களைத் தவிர, பிற பயனர் எவரும் அணுகாதபடியே கடும் கட்டுப்பாட்டு அமைப்புகளை சேர்த்துள்ளோம்.
            </p>

                    <p>
            <b>எத்தனை நாட்கள் MP3 கோப்புகள் சர்வரில் இருக்கும்?</b>
            இப்போதைக்கு சோதனை முறையில் 3 நாட்கள் வைத்திருப்போம். பிறகு அவை தானாகவே அழிந்துவிடும்.
            </p>
                <p>
            <b>ஏன் ஆண் குரல் மட்டும்? பெண் குரல் இல்லையா?</b>
            பெண் குரல் சோதனையில் உள்ளது. விரைவில் சேர்ப்போம்
            </p>
                    <p>
            <b>ஏன் தமிழ் மட்டும்? பிற மொழிகள்?</b>
            பிற மொழிகளுக்கான கட்டற்ற உரை ஒலி மாற்றிகளை ஆய்ந்து வருகிறோம். தக்கனவற்றை சேர்ப்போம்.
            </p>
                    <p>
            <b>இந்த மென்பொருள் பாதுகாப்பனதா?</b>
            இது ஒரு கட்டற்ற மென்பொருள். இதன் மூல நிரலை இங்கே பெற்று, நீங்களே சோதித்துக் கொள்ளுங்கள்.
            மேலும்  பல்வேறு பாதுகாப்புக்கான பல்வேறு செயல்கள் செய்யப்பட உள்ளன. உதாரணமாக SSL சேர்த்தல், கோப்புகளை மறைகுறியாக்கம் Encrypt) செய்தல் போன்றவை.
            </p>
                    <p>
            <b>இதை விண்டோசில் நிறுவலாமா?</b>
            முடியாது.
            </p>
                    <p>
            <b>ஏன்?</b>
            உங்களிடம் இரு சக்கர வாகனம்தான் இருக்கிறது என்றால், அதில் கார் சீட்டை பொறுத்தி ஓட்ட முயலமாட்டீர்கள் தானே.
            </p>
                    <p>
            <b>பங்களித்தோர்</b> -
            </p>
            ஊர் கூடி தேர் இழுக்கும் பெரும் பணி இது. <br/><br/>
                    <p>
            IndicTTS (https://www.iitm.ac.in/donlab/tts/index.php) எனும் திட்டம் வழியாக IIT Madras ம் SSN College of Engineering ம் இணைந்து, தமிழுக்கு ஒரு உரை ஒலி மாற்றி உருவாக்கி, கட்டற்ற மென்பொருளாக வெளியிட்டுள்ளனர். ( பிற மொழிகளுக்கும் ஆய்வுகள் நடந்து வருகின்றன ).
            </p>
                    <p>
            <b> இதில் பங்களிப்போர்</b>
                    <ul>
                    <li> ஹேமா - hema@cse.iitm.ac.in </li>
                    <li> அஞ்சு - anjuthomas95@gmail.com </li>
                    <li> நாகராஜன் - nagarajant@ssn.edu.in</li>
                    </ul>
            </p>
                    <p>
            <b>இம்மென்பொருளை, உபுண்டு லினக்சு கணினியில் எளிதில் நிறுவும் வகையில் நிரல் எழுதியோர்</b>
                    <ul>
                    <li>மோகன் - mohan43u@gmail.com</li>
                    <li>பத்மகுமார் - padmakumar.rajan@gmail.com</li>
                    <li>சீனிவாசன் - tshrinivasan@gmail.com</li>
                    </ul>
                    </p>
                    <p>
                        <b>நிரல் இங்கே -</b> <a href="http://github.com/tshrinivasan/tamil-tts-install" target="_blank">http://github.com/tshrinivasan/tamil-tts-install </a>
                   </p>
            <p>
            <b> பலவகைகளில் சோதனைகள் செய்தவர்</b>
             <ul><li>கலீல் ஜாகீர் - jskcse4@gmail.com</li></ul>
                </p>
            <p>
            <b>இதை இணைய வழி மென்பொருளாக எழுதி, நிறுவி, பராமரிப்பவர்</b>
                    <ul><li>பாலாஜி - fossbalaji@gmail.com </li></ul>
            </p>
            <p>
            <b>இதற்கான சர்வரை நன்கொடையாக அளித்தவர்கள் - </b>
                    <ul><li> E2E Networks, www.e2enetworks.com</li></ul>
                    </p>
            <b>இதற்கான யோசனைகள், திட்டங்கள், ஆலோசனைகளை அளித்தோர்</b>
            <ul>
                <li>
                    இந்திய லினக்சு பயனர் குழு, சென்னை - Indian Linux Users Group, Chennai <a href="http://ilugc.in" target="_blank">http://ilugc.in</a></li>
                <li> கட்டற்ற மென்பொருள் அறக்கட்டளை, தமிழ்நாடு - Free Software Foundation, TamilNadu <a href="http://fsftn.org" target="_blank">http://fsftn.org</a></li>

                <li> ஒருங்கிணைப்பு - கணியம் அறக்கட்டளை - <a href="http://kaniyam.com/foundation" target="_blank">http://kaniyam.com/foundation</a></li>
            </ul>
            <p>
            <b>தொடர்புக்கு</b>
                 <a href="mailto:kaniyamfoundation@gmail.com" target="_top">kaniyamfoundation@gmail.com</a>
            </p>
            <b>பின் வரும் மாற்றங்களை விரைவில் எதிர் பார்க்கலாம்</b>
            <ol>
                <li> பெண் குரல்</li>
                <li> இன்னும் தரமான உரை ஒலி மாற்றம்</li>
                <li> பிற மொழிகளுக்கான உரை ஒலி மாற்றம்</li>
                <li> REST API வசதிகள்</li>
            </ol>
            <b>நீங்களும் பங்களிக்கலாமே</b>
            <ol>
            <li> கட்டற்ற மென்பொருட்களைப் பயன்படுத்துவதும், அவற்றை பிறருக்கு அறிமுகம் செய்வதுமே பெரும் பங்களிப்பு.</li>
            <li> இதை பயன்படுத்தி, பிழைகளையும், மேம்படுத்துவதற்கான யோசனைகளையும் எங்களுக்கு எழுதுங்கள்</li>
            <li> இது பற்றிய பரப்புரைகளை ஊடகங்கள், செய்தித்தாள்கள், சமூக வலைதளங்களில் எழுதுங்கள்.</li>
            </ol>
             <b> நன்கொடை அளியுங்கள் -</b>

            <p>இது போன்ற பல கட்டற்ற மென்பொருட்களையும், வளங்களையும் உருவாக்க ஆவன செய்து வரும் கணியம் அறக்கட்டளைக்கு நன்கொடை அளியுங்கள்</p>

            <p>
                <h4><b>வங்கிக் கணக்கு விவரங்கள் </b></h4>

           <h5>Kaniyam Foundation</h5>
           <h5> Account Number : 606 1010 100 502 79</h5>
           <h5> Union Bank Of India</h5>
            <h5>West Tambaram, Chennai</h5>
            <h5>IFSC – UBIN0560618</h5>
            <h5>நன்கொடை விவரங்களை  <a href="mailto:kaniyamfoundation@gmail.com" target="_top">kaniyamfoundation@gmail.com</a> க்கு மின்னஞ்சல் அனுப்புங்கள்.</h5>

            </p>
    </div>
</div>
{% endblock %}