<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Tamil TTS Web{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

</head>
<body>
      <!-- Static navbar -->
    {% block navbar %}
      {% endblock %}

    {% block content %}
    {% endblock %}

    {% block footer%}

      <footer class="footer" style="bottom: 0; left: 0; position:fixed; background-color: #777; text-align: center; width: 100%">
        <div class="container">
            <span class="text-muted">Server donated by <a href="https://www.e2enetworks.com/" target="_blank">E2E Networks</a> and supported by <a href="http://kaniyam.com" target="_blank">Kaniyam foundation</a></span>
        </div>
      </footer>
    {% endblock %}
</body>
</html>