{% extends 'base.html' %}

{% block title %}
  Home
{% endblock %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}

<div class="container">
    {% if user %}
      <h4> Hi, {{user.first_name}}</h4>
      <p>Your Uploaded Files</p>
      {% if files %}
          <table class="table">
            <thead>
              <tr>
                <th>S.No</th>
                <th>File Name</th>
                <th>Status</th>
                <th>Uploaded on</th>
              </tr>
            </thead>
            <tbody>
              {% for item in files %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ item.file_name }}</td>
                <td>{{ item.status }}</td>
                <td>{{ item.created_on }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
      {% endif %}
    {% endif %}
</div>
{% endblock %}