<nav class="navbar navbar-default" role="navigation">
    <div id="navbarCollapse" class="container">

            {% if user.is_authenticated %}
        <ul class="nav navbar-nav">
                <li role="presentation" class="{{ home_page }}">
                        <a href="{% url 'home' %}">Home</a>
                </li>
                <li role="presentation" class="{{ upload_page }}">
                        <a href="{% url 'upload' %}">Upload File</a>
                </li>
                <li role="presentation" class="{{ about_page }}">
                        <a href="{% url 'about' %}">About</a>
                </li>
        </ul>

                <div class="pull-right">
                <ul class="nav pull-right">
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, {{user.first_name}} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'preferences' %}"><i class="icon-cog"></i> Preferences</a></li>
                            <li class="divider"></li>
                            <li role="presentation"><a href="{% url 'logout' %}"> Logout</a> </li>
                        </ul>
                    </li>
                </ul>
              </div>

                <!--<li role="presentation">-->
                    <!--<a href="{% url 'logout' %}"> Logout</a>-->
                 <!--</li>-->
            {% else %}
        <ul class="nav navbar-nav">
                <li role="presentation" class="{{ signup_page }}">
                    <a href="{% url 'signup' %}">Signup</a>
                </li>
                <li role="presentation"class="{{ login_page }}" >
                    <a href="{% url 'login' %}">Login</a>
                </li>
                <li role="presentation" class="{{ about_page }}">
                    <a href="{% url 'about' %}">About</a>
                </li>
            {% endif %}

        </ul>
    </div><!--/.nav-collapse -->
</nav>